<div class='container'>
  <button class='backButton' routerLink="/user">Truck List</button>

  <div class='map'>
    <app-map *ngIf='truckLoaded | async' [lat]='getLatitude()' [long]='getLongitude()'></app-map>
  </div>

  <div class='title'>
    <h2 *ngIf='truckLoaded | async'>{{truck.name}}</h2>
  </div>

  <div class=hours *ngIf='truckLoaded | async'>
    <div>Hours of Operation
      <table class='hoursHeading'>
        <tr class='dayofweek' *ngFor='let i of truck.hours'>
          <th>{{i.day}}</th>
          <td *ngIf='i.open !== i.close'>{{i.open}}</td>          
          <td *ngIf='i.open === i.close'>Closed</td>
          <td *ngIf='i.open !== i.close'>to</td>
          <td *ngIf='i.open === i.close'></td>
          <td *ngIf='i.open !== i.close'>{{i.close}}</td>
          <td *ngIf='i.open === i.close'>Closed</td>
        </tr>
      </table>
    </div>
  </div>
  <div class='menu'>
    <app-menu></app-menu>
  </div>
</div>
</div>
