<body>
  <article id="mapSpecifications">
      <form action="">
        <select name="distance">
          <option value="">Distance</option>
          <option value="5">5km</option>
          <option value="10">10km</option>
          <option value="15">15km</option>
        </select>
        <select name="type">
          <option value="">Filter</option>
          <option value="veggie">Vegetarian</option>
          <option value="meat">Meat</option>
          <option value="dessert">Dessert</option>
        </select>
      <input type="submit" value="Submit">
    </form>
  </article>
  <nav id="mapDisplay">Map goes here!</nav>
  <div id="truckList">
    <h1>
      Results
    </h1>
    <div id="inner-grid">
      <ul *ngIf="trucks">
        <li *ngFor = "let truck of trucks.Trucks">
          <h2>{{ truck.Truck_Name }}</h2>
          <h3>{{ truck.Location }}</h3>
          <h4> OPEN </h4>
        </li>
      </ul>
    </div>
  </div>

</body>



