<body>
    <article id="mapSpecifications">
        <form class="refine" action="">
          <div class="type">
            Filter Results:
            <label class="checkbox-inline">
              <input type="checkbox" checked="checked" id="none" (click)="filterResultsNone(veggie, meat, dessert)" #none> None
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="veggie" name="veggie" value="veggie" (click)="filterVeggie(none, veggie, meat, dessert)" #veggie>Vegetarian
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="meat" name="meat" value="meat" (click)="filterMeat(none, meat, veggie, dessert)" #meat>Meat
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="dessert" name="dessert" value="dessert" (click)="filterDessert(none, dessert, meat, veggie)" #dessert>Dessert
              <span class="checkmark"></span>
            </label>
          </div>
      </form>
    </article>
    <nav id="mapDisplay">
        <div class="theMap">
          <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom" *ngIf="trucks">
            <agm-marker [latitude]="+truck.Latitude" [longitude]="+truck.Longitude" *ngFor="let truck of truckList; let i=index" [iconUrl]="'https://mattgoodis.com/images/number_' + (i+1) + '.png'">
              <agm-info-window> <strong routerLink="/truck/{{ truck['Truck_ID'] }}"> {{ truck.Truck_Name }} </strong> </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </nav>
  <div id="truckList">
      <div id="inner-grid" *ngIf="trucks">
        <div class="surroundTrucks">
          <div class="eachTruck" *ngFor = "let truck of truckList" routerLink="/truck/{{ truck['Truck_ID'] }}">
            <div id="topLine">
              <div id="name">{{ truck.Truck_Name }}</div>
              <div id="open">OPEN TODAY</div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </body>

