#banner {
    background-color: #ff933b;
}

#bannerLogo {
    display: inline-block;
    text-align: left;
}

#logo {
    width: 8%;
    display: inline-block;
    border-radius: 100%;
    margin: 0.5%;
}

.navLink {
    background-color: transparent;
    border-style: none;
    color: rgb(48, 47, 47);
}

#links {
    display: inline-block;
    text-align: right;
    font-size: 12pt;
}
