<form class='hoursForm' [formGroup]="changeHours"
        (ngSubmit)="updateHours(changeHours.value)">
        <div class="form-group" *ngFor='let i of hours'>
          <div class="dayEdit">
            <label for="{{i.day}}Open">{{i.day}}</label>
            <!-- <input type='time' id="{{i.day}}-open" name="{{i.day}}-open" value='{{i.open}}'>
            <label for="{{i.day}}-close" class="control-label col-md-3">to</label>
            <input type='time' id="{{i.day}}-close" name="{{i.day}}-close" value='{{i.close}}'> -->
            <select formControlName="{{i.day}}Open" class="hourPicker">
              <option disabled hidden selected>{{i.open}}:00</option>
              <option value=0>Closed</option>
              <option value=1>01:00AM</option>
              <option value=2>02:00AM</option>
              <option value=3>03:00AM</option>
              <option value=4>04:00AM</option>
              <option value=5>05:00AM</option>
              <option value=6>06:00AM</option>
              <option value=7>07:00AM</option>
              <option value=8>08:00AM</option>
              <option value=9>09:00AM</option>
              <option value=10>10:00AM</option>
              <option value=11>11:00AM</option>
              <option value=12>12:00AM</option>
              <option value=13>01:00PM</option>
              <option value=14>02:00PM</option>
              <option value=15>03:00PM</option>
              <option value=16>04:00PM</option>
              <option value=17>05:00PM</option>
              <option value=18>06:00PM</option>
              <option value=19>07:00PM</option>
              <option value=20>08:00PM</option>
              <option value=21>09:00PM</option>
              <option value=22>10:00PM</option>
              <option value=23>11:00PM</option>
              <option value=24>12:00PM</option>
            </select>

            <label for="{{i.day}}Close">to</label>
            <select formControlName="{{i.day}}Close" class="hourPicker">
              <option disabled hidden selected>{{i.close}}:00</option>
              <option value=0>Closed</option>
              <option value=1>01:00AM</option>
              <option value=2>02:00AM</option>
              <option value=3>03:00AM</option>
              <option value=4>04:00AM</option>
              <option value=5>05:00AM</option>
              <option value=6>06:00AM</option>
              <option value=7>07:00AM</option>
              <option value=8>08:00AM</option>
              <option value=9>09:00AM</option>
              <option value=10>10:00AM</option>
              <option value=11>11:00AM</option>
              <option value=12>12:00AM</option>
              <option value=13>01:00PM</option>
              <option value=14>02:00PM</option>
              <option value=15>03:00PM</option>
              <option value=16>04:00PM</option>
              <option value=17>05:00PM</option>
              <option value=18>06:00PM</option>
              <option value=19>07:00PM</option>
              <option value=20>08:00PM</option>
              <option value=21>09:00PM</option>
              <option value=22>10:00PM</option>
              <option value=23>11:00PM</option>
              <option value=24>12:00PM</option>
            </select>
          </div>
        </div>
        <button type="submit">Save Changes</button>
      </form>