<div class="wrapper">
<form [formGroup]="accountForm" (ngSubmit)="onClick(accountForm.value)" class="form-signin">
    <h2 class="form-signin-heading">Create Account</h2>
  <h5 *ngIf="submitted">{{ string }}</h5>


    <label>
      <div *ngIf="submitted && accountForm.controls.firstName.errors" class="text-danger">
        <div *ngIf="accountForm.controls.firstName.errors.required">Your first name is required</div>
      </div>
      <input type="text" formControlName="firstName" class="form-control" autofocus="" placeholder="First Name">
    </label>

    <label>
      <div *ngIf="submitted && accountForm.controls.lastName.errors" class="text-danger">
        <div *ngIf="accountForm.controls.lastName.errors.required">Your last name is required</div>
      </div>
      <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
    </label>

    <label>
      <div *ngIf="submitted && accountForm.controls.email.errors" class="text-danger">
        <div *ngIf="accountForm.controls.email.errors.email || accountForm.controls.email.errors.required">Please enter a valid email address</div>
      </div>
      <input type="text" formControlName="email" class="form-control" placeholder="Email">
    </label>

    <label>
      <div *ngIf="submitted && accountForm.controls.password.errors" class="text-danger">
        <div *ngIf="accountForm.controls.password.errors.required || accountForm.controls.password.errors.minlength">Please enter a valid password</div>
      </div>
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
    </label>

    <label>
      <div *ngIf="submitted && accountForm.controls.passCheck.errors" class="text-danger">
        <div *ngIf="accountForm.controls.passCheck.errors.required || accountForm.controls.passCheck.errors['compare']">Passwords must match</div>

      </div>
      <input type="password" formControlName="passCheck" class="form-control" placeholder="Confirm Password">
    </label>

    <label>
      <div *ngIf="submitted && accountForm.controls.phone.errors" class="text-danger">
        <div *ngIf="accountForm.controls.phone.errors.required">Please enter a valid phone number</div>
        <div *ngIf="accountForm.controls.phone.errors.pattern">Please match pattern 111-555-0123</div>
      </div>
      <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number">
    </label>

    <button class="btn btn-lg btn-primary btn-block" id="blue-button" type="submit">Create Account </button>
    <div *ngIf="success">
      <a routerLink= "/newTruck">Create New Truck</a>
    </div>
  </form>
</div>
